.clients {
    position: relative;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    /* Mulai dari bawah */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    /* Transisi halus */

    &__wrap {
        display: flex;
        padding-top: 42px;
        padding-bottom: 42px;
        justify-content: center;
        grid-column-gap: 64px;
        border-bottom: 1px solid $neutral-200;
        border-top: 1px solid $neutral-200;

        @media screen and (max-width: 991px) {
            flex-flow: wrap;
            grid-row-gap: 32px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }


}