.logos {
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;

    @media screen and (max-width: 479px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__content-wrap {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $neutral-100;
        grid-column-gap: 32px;

        @media screen and (max-width: 479px) {
            display: flex;
            flex-direction: column;
            grid-row-gap: 36px;
        }
    }

    &__content-image-wrap {
        position: relative;
        width: 696px;
        padding-left: 78px;
        padding-right: 78px;


        @media screen and (max-width: 991px) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        @media screen and (max-width: 479px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__image-logo {
        display: flex;
        margin: 40px 46px;
        align-items: center;
        flex-direction: column;
        grid-gap: 64px;

        @media screen and (max-width: 991px) {
            padding: 24px 28px;
            grid-row-gap: 40px;
            margin: 0;
        }
    }

    &__image {
        @media screen and (max-width: 991px) {
            width: 39px;
            height: 38px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__bg {
        width: 100%;
        height: 100%;
    }

    &__image-bg {
        position: absolute;
        bottom: auto;
        z-index: -1;

        @media screen and (max-width: 479px) {
            width: 100%;
            height: 168px;
        }
    }

    &__image-wrap-1 {
        display: flex;
        grid-column-gap: 64px;

        @media screen and (max-width: 991px) {
            grid-column-gap: 40px;
        }
    }

    &__image-wrap-2 {
        display: flex;
        grid-column-gap: 64px;

        @media screen and (max-width: 991px) {
            grid-column-gap: 40px;
        }
    }
}