.logos {
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;

    @media screen and (max-width: 479px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__content-wrap {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $neutral-100;
        grid-column-gap: 32px;

        @media screen and (max-width: 991px) {
            display: flex;
            flex-direction: column;
            grid-row-gap: 36px;
        }
    }

   

    &__content-image-wrap {
        position: relative;
        padding-left: 78px;
        padding-right: 78px;

        opacity: 0;
        transform: translateY(0);
        /* Mulai dari bawah */
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
        /* Transisi halus */


        @media screen and (max-width: 1200px) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        @media screen and (max-width: 479px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__image-logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-gap: 64px;

        @media screen and (max-width: 991px) {
            grid-row-gap: 40px;
            margin: 0;
        }
    }

    &__image {

        width: 64px;
        height: 64px;
        
        @media screen and (max-width: 991px) {
            width: 39px;
            height: 38px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__bg {
        width: 100%;
        height: 100%;
    }

    &__image-bg {
        position: absolute;
        height: 270px;
        top: 0;
        z-index: -1;

        @media screen and (max-width: 991px) {
            width: 100%;
            height: 164px;
        }
    }

    &__image-wrap-1 {
        display: flex;
        grid-column-gap: 64px;
        margin-top: 40px;
        margin-inline: 46px;

        @media screen and (max-width: 991px) {
            margin-top: 24px;
            margin-inline: 28px;
            grid-column-gap: 40px;
        }
    }

    &__image-wrap {
        display: flex;
        grid-column-gap: 64px;
        margin-bottom: 40px;

        @media screen and (max-width: 991px) {
            margin-bottom: 28px;
            grid-column-gap: 40px;
        }
    }
}