.button {
    display: flex;
    grid-column-gap: 8px;
    padding: 16px 24px;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 8px;
    color: $primary-600;
    font-size: $font-md;
    font-weight: $weight-semibold;
    line-height: $height-md;
    transition: all 0.2s ease;
    animation-name: MoveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
    /* Tetap tersembunyi hingga animasi dimulai */
    transform: translateX(-10rem);

    &:hover {
        background-color: $primary-600;
        color: white;

        img {
            filter: brightness(0) invert(1);
            /* Contoh untuk efek warna putih dan hitam */
        }
    }

    img {
        display: block;
        transition: filter 0.2s ease;
    }


    &--base {
        background-color: $primary-600;
        color: white;

        &:hover {
            background-color: $primary-300;
        }
    }
}

.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;


    @media screen and (max-width: 991px) {
        grid-row-gap: 8px;
    }

    &--center {

        align-items: center;
    }

    &--logos {
        padding-top: 40px;
        width: 488px;

        @media screen and (max-width: 991px) {
            width: 100%;
        }

        @media screen and (max-width: 479px) {
            width: 100%;
        }

    }

    &__title {
        text-align: left;
        animation-name: MoveInLeft;
        animation-duration: 0.5s;
        animation-delay: 0.1s;
        animation-timing-function: ease-out;


        &--center {
            animation-name: none;
            opacity: 0;
            transform: translateY(-20px);
            /* Mulai dari bawah */
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            /* Transisi halus */
            text-align: center;
        }
    }

    &__paragraf {
        max-width: 648px;
        text-align: left;
        animation-name: MoveInLeft;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
        opacity: 0;
        /* Tetap tersembunyi hingga animasi dimulai */
        transform: translateX(-10rem);


        @media screen and (max-width: 479px) {
            max-width: 100%;
        }

        &--center {
            animation-name: none;
            opacity: 0;
            transform: translateY(-20px);
            /* Mulai dari bawah */
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            /* Transisi halus */
            text-align: center;
        }
    }

}

.max-width-488 {
    position: absolute;
    max-width: 488px;
    margin-left: 104px;

    @media screen and (max-width: 1200px) {
        position: relative;
        max-width: 100%;
        margin-left: 0;
    }
}

.animation-heading-3 {
    animation-name: none;
    opacity: 0;
    transform: translateX(-20px);
    /* Mulai dari bawah */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    /* Transisi halus */
}